*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background: #111; // dark page bg behind the tool panel
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

// Prevent context menu on palette right-clicks from browser
canvas {
  user-select: none;
}
